body {
    background: linear-gradient(to bottom, #fd8768, #fd856a, #fc846b, #fc826d, #fb816f, #fb8070, #fa7f71, #fa7e72, #fa7e72, #f97d73, #f97d73, #f87c73) no-repeat center center/cover;
}


#icon {
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: 54px;
    height: 54px;

    border-radius: 13px;
}

#github {
    height: 75px;
}

#youtube {
    margin-bottom: -5px;
    height: 80px;
    filter: invert();
}

#namemc {
    height: 64px;
}

#discord {
    margin-bottom: -12px;
    height: 90px;
}

#twitter {
    width: 90px;
    height: 75px;
}

#mail {
    height: 75px;
    filter: invert();
}

#speedrun {
    height: 65px;
    filter: invert();
}

.social-icons ul {
    list-style-type: none;
}

.social-icons img {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
}