* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-color: #cfcfcf;
}

.content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
}

div {
    margin-top: 0.9rem;
}

#icon {
    width: 128px;
    height: 128px;

    border-radius: 13px;
    cursor: wait;
}


.social-icons #github {
    margin-left: 10px;
    height: 75px;
}

.social-icons #youtube  {
    height: 65px;
}

.social-icons #invert {
    filter: invert();
}

.social-icons ul {
    list-style-type: none;
}

.social-icons img {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
    height: 70px;
}

.frame {
    padding: 0.85rem;
    margin-bottom: 0.5em;
    background-color: rgba(20, 20, 20, 0.65);

    border-color: rgba(56, 56, 56, 0.5);
    border-radius: 0.45rem;
    
    min-width: 41%;
}

body::before {
    background-color: #000;
}

body {
    line-height: inherit;
    height: 90vh;

    background-image: url('/assets/img/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Noto Sans';
}

.content .frame h1 {
    margin-block-end: 0.25em;

    color: white;
    text-shadow: 4px 4px #000;
    font-size: 31.5px;

    font-family: 'Readex Pro';
}

.projects-list #wayfix {
    margin-left: 0px;
}

.projects-list img {
    height: 128px;
    width: 128px;

    border-radius: 20px;

    margin-left: 30px;
}

p {
    color: white;
    margin-block-end: 0.2em;
    text-shadow: 2px 2px #000;
    font-size: 17px;
}