* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    line-height: 1.6;
    height: 100vh;

    font-family: verdana;
    overflow: hidden;
}

h1 {
    margin-block-end: 0.3em;

    color: white;
    text-shadow: 4px 4px #000;
    font-size: 50px;
}

p {
    color: white;
    text-shadow: 2px 2px #000;
    font-size: 25px;
}

.container {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    height: 60px;
    width: 100%;

    background: url(/assets/img/background.png) no-repeat center center/cover;
    background-size: cover;
    background-position: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li img {
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;

    color: white;
    text-shadow: 3px 3px #000;
    font-size: 18.5px;
}

.navbar ul li a:hover {
    color: #cdcdcd
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: center;
}

section#home {
    background: linear-gradient(to bottom, #ff8c5f, #ff8961, #fe8664, #fe8366, #fd8069, #fc7d6b, #fc7b6e, #fb7870, #fa7673, #f87375, #f77178, #f56f7b) no-repeat center center/cover;
}

section#socials {
    background: linear-gradient(to bottom, #fd8768, #fd856a, #fc846b, #fc826d, #fb816f, #fb8070, #fa7f71, #fa7e72, #fa7e72, #f97d73, #f97d73, #f87c73) no-repeat center center/cover;
}

section#projects {
    background: linear-gradient(to bottom, #ff9b83, #fe957f, #fd907c, #fb8a79, #fa8476, #fa8374, #fa8172, #fa8070, #fc836d, #fd866b, #fe8a68, #ff8d66) no-repeat center center/cover;
}

#icon {
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: 54px;
    height: 54px;

    border-radius: 13px;
}

#github {
    height: 75px;
}

#youtube {
    margin-bottom: -5px;
    height: 80px;
    filter: invert();
}

#miscutils {
    margin-left: -30px;
    width: 512px;
    height: 137px;
}

#namemc {
    height: 64px;
}

#discord {
    margin-bottom: -12px;
    height: 90px;
}

#twitter {
    width: 90px;
    height: 75px;
}

#mail {
    height: 75px;
    filter: invert();
}

#speedrun {
    height: 65px;
    filter: invert();
}

.social-icons ul {
    list-style-type: none;
}

.social-icons img {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
}

.projects-list img {
    height: 140px;
    width: 140px;

    border-radius: 20px;

    cursor: pointer;
    margin-top: 20px;
    margin-left: 30px;
}